```css
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

button, a {
  outline: none;
  border: none;
  cursor: pointer;
}

.button:focus-visible,
a:focus-visible {
  outline-color: var(--focus-visible-color);
  outline-width: var(--focus-visible-width);
  outline-style: solid;
}